.form{
    display: flex;                          /* Para centrar el <form> */
    flex-direction: column;                 /* Para centrar el <form> */
    align-items: center;                    /* Para centrar el <form> */
}

.background-container {
    background-image: url('../../images/dogsFondo.avif');
    background-size: contain;
    background-position: center;
    height: 100vh;                          /* Ajusta esto según tus necesidades */
    max-width: 100vw;
    background-repeat: no-repeat;
    padding: 110px;
}

.form-container {
    border: 4px solid black;
    border-radius: 20px;
    background-color: #b6ad90;
    padding: 20px;                          /* Separa todos los elementos del border */
}

.form-container label {
    font-size: 20px;
    font-family: Saira, sans-serif;
}

.form-container input {
    border: 2px solid black;
    border-radius: 8px;
    background-color: #dad7cd;
    font-size: 16px;
    font-family: Saira, sans-serif;
}

.form-container div {
    margin-bottom: 12px;                    /* Ajusta el valor según el espacio deseado entre divs */
    position: relative;                     /* Establece el div padre como relativo para que los mensajes de error se posicionen relativos a él */
}

.error-size {
    color: red;
    font-size: 16px;
    font-weight: bold;
    position: absolute;                     /* Hace que el mensaje de error esté posicionado de manera absoluta con respecto a su contenedor */
    bottom: 5px;                            /* Lo posiciona en la parte inferior del contenedor */
    left: 0;                                /* Lo posiciona en la parte izquierda del contenedor */
    transform: translateX(153.5%);          /* Mueve el mensaje de error 100% hacia la derecha para que esté justo al lado del input */
}

.error-name {
    color: red;
    font-size: 16px;
    font-weight: bold;
    position: absolute;                     /* Hace que el mensaje de error esté posicionado de manera absoluta con respecto a su contenedor */
    bottom: 5px;                            /* Lo posiciona en la parte inferior del contenedor */
    left: 0;                                /* Lo posiciona en la parte izquierda del contenedor */
    transform: translateX(129%);            /* Mueve el mensaje de error 100% hacia la derecha para que esté justo al lado del input */
}

.error-image {
    color: red;
    font-size: 16px;
    font-weight: bold;
    position: absolute;                     
    bottom: 5px;                            
    left: 0;                                
    transform: translateX(143%);             
}

.error-life-span {
    color: red;
    font-size: 16px;
    font-weight: bold;
    position: absolute;                     
    bottom: 5px;                            
    left: 0;                                
    transform: translateX(153%);             
}

.form-container button {
    width: 90px;                                /* Ajusta el ancho del botón */
    height: 90px;                               /* Ajusta el alto del botón */
    border-radius: 50%;                         /* Ajusta el radio del borde para que sea completamente redondo */
    margin-top: 15px;                           /* Ajusta el espacio entre el último input y el botón */
    border: 2px solid #dad7cd;
    background-color: #333d29;
    color: #dad7cd;
    font-family: Germania One, sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:disabled {
    border: 2px solid #adb5bd;
    background-color: #ced4da;
    color: #adb5bd;
    cursor: default;
}

.form-container button:hover {
    border: 2px solid #333d29;
    color: #333d29;
    background-color: #dad7cd;
}

.form-container button:disabled:hover {
    border: 2px solid #adb5bd;
    background-color: #ced4da;
    color: #adb5bd;
    cursor: default;
}

.form-container h1 {
    display: flex;                              /* Centra el h1 */
    justify-content: center;                    /* Centra el h1 */
    font-size: 35px;
    font-family: Saira, sans-serif;
    margin: 40px;
}

.form-container select {
    border: 2px solid black;
    background-color: #dad7cd;
    cursor: pointer;
    font-family: Saira, sans-serif;
}

.button-container {
    display: flex;                              /* Centre el button CREATE */
    justify-content: center;                    /* Centre el button CREATE */
}