.detail-container{
    border: 4px solid #582f0e;
    background-color: #c2c5aa;
    border-radius: 15px;
    width: 475px;                           
    height: 615px;                          
    margin: 0 auto;                         /* Centrar el contenedor en la página */
    overflow: hidden; 
}

.detail-container img {
    width: 475px;                           /* Ajusta la anchura de la imagen */
    height: 380px;                          /* Ajusta la altura de la imagen */
    overflow: hidden;                       /* Evita que la imagen desborde del contenedor */
}

.detail-container p {
    margin: 5px 0;                          /* Añadir un espacio entre los párrafos */
    font-family: Quantico, sans-serif;
    font-size: 16.5px;
    text-align: center;
}

.delete-button {
    border: 2px solid #582f0e;
    border-radius: 5px;
    color: #582f0e;
    background-color: #fefae0;
    font-family: Jost, sans-serif;
    cursor: pointer;
    margin-right: 6px;
}

.delete-button:hover {
    border: 2px solid #fefae0;
    color: #fefae0;
    background-color: #582f0e;
}

.update-button {
    border: 2px solid #582f0e;
    border-radius: 5px;
    color: #582f0e;
    background-color: #fefae0;
    font-family: Jost, sans-serif;
    cursor: pointer;
}

.update-button:hover {
    border: 2px solid #fefae0;
    color: #fefae0;
    background-color: #582f0e;
}

.buttons-container {
    text-align: center;
    margin-top: 10px;
}