/* SEARCHBAR */
.searchbar-container {
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-container {
    position: relative;
}

.searchbar-error {
    color: red;
    font-size: 16px;
    position: absolute;                                     /* Hace que el mensaje de error esté posicionado de manera absoluta con respecto a su contenedor */
    top: 26%;                                               /* Lo posiciona en la parte inferior del contenedor */
    left: 28%;                                              /* Lo posiciona en la parte izquierda del contenedor */
    transform: translateX(145%);
}

.searchbar-container label {
    margin: 0 8px;                                          /* Ajusta el espaciado entre los elementos <label> */
}

.searchbar-container input {
    margin: 0 2px;                                          /* Ajusta el espaciado entre los elementos <input> */
}

.label {
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: Quantico, sans-serif;
}

.input {
    border: 2px solid #333d29;
    border-radius: 5px;
    font-family: Saira, sans-serif;
}

.button {
    border: 2px solid #333d29;
    border-radius: 5px;
    background-color: #b6ad90;
    font-family: Saira, sans-serif;
    cursor: pointer;
}

/* FILTERS AND ORDERS */
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-container select {
    margin: 0 20px;                                             /* Ajusta el espaciado entre los elementos <select> */
    border: 2px solid #333d29;
    border-radius: 5px;
    background-color: #b6ad90;
    font-family: Saira, sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* CARDS CONTAINER */
.cards-container {
    padding: 25px;
}

.h1 {
    font-size: 28px;
    font-family: Quantico, sans-serif;
    color: black;
    text-align: center;
}