.container {
    /* border: 1.5px solid black;
    border-radius: 15px; */
    border: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;                        /* Centra las tarjetas horizontalmente */
}