.mainContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
    border: transparent;
}

.mainContainer a {
    padding: 0px 30px;
    margin: 0px 40px;
    color: #582f0e;
    text-decoration: none;
    font-family: Germania One, sans-serif;
    font-size: 45px;
    transition: font-size 0.3s;
}

.mainContainer a:hover {
    font-size: 65px;
}


